
.info {
    width: 100%;
    height: auto;
}

iframe {
    position: relative;
    width: 90%;
    height: 53em;
    margin: 2% 5%;
    background: white;
    box-shadow: var(--sole-pink) 1px 0 30px;
}

iframe#document {
   width: 40%;
   margin: 0 30%;
}

@media (min-width: 850px) and (max-width: 1499px) {
    iframe {
        height: 100em;
    }
}


@media (max-width: 1499px) {
    iframe {
        margin: 5%;
    }
    .info {
        margin-top: 5vh;    
    }
}