.content {
    margin: auto;
}

.title {
    text-align: center;
    color: var(--sole-pink);
    font-size: x-large;
}

.info {
    font-size: large;
    color: var(--sole-white);
    text-align: justify;
}

.text {
    margin: auto;
    grid-column: 2/4;
    grid-row: 1;
}

.video {
    grid-column: 1/2;
    grid-row: 1;
    text-align: center;
}



h2 {
    color: var(--sole-pink);
}

.call-to-action {
    text-align: center;
    margin-top: 2%;
}

button {
    background: var(--sole-pink);
    color: var(--sole-blue);
    font-family: jetbrains-bold;
    border: none;
    position: relative;
    height: 60px;
    font-size: 1.6em;
    padding: 0 2em;
    cursor: pointer;
    transition: 800ms ease all;
    outline: none;
}

button:hover {
    background: var(--sole-blue);
    color: var(--sole-pink);
    text-shadow: var(--sole-pink) 5px 2px 20px;
    box-shadow: var(--sole-pink) 1px 0 30px;
}

button {
    background: var(--sole-pink);
    color: var(--sole-blue);
    font-family: jetbrains-bold;
    border: none;
    position: relative;
    height: 60px;
    font-size: 1.6em;
    padding: 0 2em;
    cursor: pointer;
    transition: 800ms ease all;
    outline: none;
    margin-bottom: 2vh;
}

button:hover {
    background: var(--sole-blue);
    color: var(--sole-pink);
    text-shadow: var(--sole-pink) 5px 2px 20px;
    box-shadow: var(--sole-pink) 1px 0 30px;
}

video {
    height: auto;
    width: 60%;
    border-radius: 10px;
    box-shadow: var(--sole-pink) 5px 5px 20px;
    margin-top: 2vh;
}

iframe {
    height: 100%;
    width: 60%;
}

img {
    width: 50%;
    position: relative;
}

.form {
    text-align: center;
    height: 115vh;
    margin-top: 2vh;
}

.hidden {
    display: none;
}

.price {
    text-align: center;
}

.through {
    font-family: jetbrains-regular;
    text-decoration: line-through;
    color: var(--sole-white);
}

.currentPrice {
    color: var(--sole-dark-pink);
}

@media (min-width: 1500px) {
    .content {
        margin-top: 10vh;
    }

    .info {
        display: grid;
        grid-auto-rows: minmax(100px, auto);
        grid-template-columns: repeat(4, 2fr);
    }

    .goals {
        margin: auto;
        width: 80%;
    }

    .requirements {
        margin: auto;
        width: 80%;
    }
}

@media (min-width: 850px) and (max-width: 1499px) {
    .content {
        margin-top: 5vh;
    }
}

@media (max-width: 849px) {
    .content {
        margin-top: 8vh;
    }
}

@media (max-width: 1499px) {



    h1 {
        font-size: 8vw;
    }

    .info {
        width: 90%;
        margin: auto;
    }

    .goals {
        width: 90%;
    }

    .requirements {
        width: 90%;
    }

    video {
        width: 90%;
    }

    button {
        width: 80%;
        height: auto;
        font-size: 5vw;
        margin-bottom: 4%;
    }

}