<app-logo-enlace></app-logo-enlace>
<div *ngIf="isValidCourse(); else error" class="content">
    <div class="title">
        <h1>{{course.title}}</h1>
    </div>
    <div class="info">
        <div class="text">
            <div class="resume">
                <p>{{course.resume}}</p>
            </div>
            <div class="description">
                <p>{{course.description}}</p>
            </div>
            <div class="aditionals">
                <h2>Contenido adicional</h2>
                <p>{{course.aditionals}}</p>
            </div>
            <div class="support">
                <h2>Soporte post-curso</h2>
                <p>{{course.support}}</p>
            </div>
            <div class="goals">
                <h2>Objetivos</h2>
                <ul>
                    <li *ngFor="let g of course.goals">{{g}}</li>
                </ul>
            </div>
            <div class="requirements">
                <h2>Requisitos</h2>
                <ul>
                    <li *ngFor="let r of course.requirements">{{r}}</li>
                </ul>
            </div>
            <div class="price">
                <h2 *ngIf="samePrice()" id="regular" class="currentPrice">Precio regular: {{course.price}}</h2>
                <h2 *ngIf="!samePrice()" id="lanzamiento" class="currentPrice">Precio lanzamiento: {{course.launchPrice}}</h2>
                <p *ngIf="!samePrice()" id="rebajado" class="through">Precio regular: {{course.price}}</p>
            </div>
        </div>
        <div class="video">
            <video [src]="urlVideo" type='video/mp4' controls>
            </video>
        </div>
    </div>
    <div class="call-to-action">
        <a href="https://forms.gle/jSzeg4TR8vciweePA" target="_blank"><button>Hacé click acá y codificá tu versión 2.0</button></a>
    </div>
</div>
<ng-template #error>
    <app-error-page></app-error-page>
</ng-template>

