/*
.container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }


  /* Estilos para pantallas grandes (desktop) 
  @media (min-width: 1500px) {
    .container {
      height: 100vh;
    }
  }
  
  @media (min-width: 850px) and (max-width: 1499px) {
    .container {
      height: 100vh;
    }
  
  }
  
  /* Estilos para pantallas pequeñas (móviles) 
  @media (max-width: 849px) {
    .container {
      flex-direction: column;
    }
  }*/