<div class="content">
  <div class="left-content">
    <div class="call-to-action hidden-max">
      <h2>¡Llevemos tu proyecto al siguiente nivel!</h2>
      <a
        href="/calendar" class="desktop">
        <button>Agendá una entrevista conmigo hoy mismo!</button>
      </a>
      <a
        href="/calendar" class="mobile">
        <button>Agendá una entrevista!</button>
      </a>
    </div>
    <div class="main">
      <h1>Bienvenido/a a mi mundo, donde todo es posible</h1>
      <p>
        Soy Soledad, una apasionada por el desarrollo de software y fiel creyente de que todo se puede mejorar con
        buenas
        ideas, la tecnología de nuestro lado y un gran gusto por los desafíos.
      </p>
      <p>
        Imaginate llegar a un lugar y descubrir que la magia sí existe, que hay una manera de hacer realidad todas tus
        ideas. Así me sentí en 2017 en mi primera clase de programación, a la que fui sin tener ni idea de a qué iba.
        Desde entonces me dediqué a especializarme en el desarrollo de software.
      </p>
      <table>
        <tbody>
          <tr>
            <td>En 2018</td>
            <td>tuve mi primera experiencia desarrollando una app movil con un equipo que formamos entre compañeros de
              curso.</td>
          </tr>
          <tr>
            <td>En 2019</td>
            <td>comencé mi carrera universitaria, Tecnicatura Universitaria en Desarrollo de Aplicaciones Informáticas
              en
              la UNICEN.</td>
          </tr>
          <tr>
            <td>En 2020</td>
            <td>creé mi primer sitio web, para ganar algo de experiencia. Fue todo un desafío realizar el desarrollo
              front
              end, back end, la base de datos y el hosting del sitio.</td>
          </tr>
          <tr>
            <td>En 2021</td>
            <td>comencé mi primer trabajo formal como desarrolladora de software y a dar clases en la universidad de
              materias que ya tenía aprobadas.</td>
          </tr>
          <tr>
            <td>En 2022</td>
            <td>
              <p>realicé mi pasantía desarrollando un software en el que cumplía todos los roles en el proceso de
                desarollo y aproveché la oportunidad para optar por tecnologías que desconocía y que logré aprender e
                implementar en muy poco tiempo.</p>
              <p>Cambié de trabajo, comencé mi trabajo en CONICET, gracias a la recomendación de personas a las que
                admiro
                muchísimo y con las que estaré siempre agradecida</p>
              <p>¡Me recibí! Sin haber desaprobado jamás un examen, lo cual adjudico a lo increible que es el mundo del
                desarrollo de software y cuánto me encanta.</p>
            </td>
          </tr>
          <tr>
            <td>Actualmente</td>
            <td>continúo trabajando en CONICET y dando clases en diversas materias, devolviéndole a la universidad un
              poco
              de lo que me ha dado.</td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="call-to-action">
      <h2>¡Llevemos tu proyecto al siguiente nivel!</h2>
      <a
        href="/calendar" class="desktop">
        <button>Agendá una entrevista conmigo hoy mismo!</button>
      </a>
      <a
        href="/calendar" class="mobile">
        <button>Agendá una entrevista!</button>
      </a>
    </div>
  </div>
  <div class="right-content ">
    <img src='../../../assets/images/mouse.png' alt="Foto" />
  </div>
  
</div>