<div class="container">
    <div class="type-error">
        <h1 class="code">404</h1>
    </div>
    <div class="image">
        <img class="img-logo" src="../../../assets/marca/Sole2.0;/6.png" alt="">
    </div>
    <div class="content">
        <div class="error">
            <span>if (</span><span class="pink">esError404()</span><span>) </span><span
                class="dark-pink">&lcub;</span><br>
            <span class="tab">&Tab; tePerdiste </span><span class="dark-pink">=</span><span> true;</span><br>
            <span class="tab">&Tab; mensajeError </span><span class="dark-pink">=</span><span
                class="message">{{message}}</span><br>
            <span class="tab">&Tab; mostrarMensaje(mensajeError);</span><br>
            <span class="tab">&Tab; invitarASeguirProgramando();</span><br>
            <span class="dark-pink">&rcub;</span><span> else </span><span class="dark-pink">&rcub;</span><br>
            <span class="tab">&Tab; cargarPagina();</span><br>
            <span class="tab">&Tab; codificarVersion2.0();</span><br>
            <span class="dark-pink">&rcub;</span><br>
        </div>
    </div>
    <div class="call-to-action">
        <a href="/tech-hub"><button>Codificar mi versión 2.0</button></a>
    </div>
</div>