<header>
    <nav>
        <div class="menu-btn" [class.is-open]="isMenuOpen"  (click)="toggleMenu()">
            <div class="menu-btn__burger">
            </div>
        </div>
        <ul class="overlay" [class.is-open]="isMenuOpen">
            <li>
                <a href="/home" class="menu-item" >Home</a>
            </li>
            <li>
                <a href="/tech-hub" class="menu-item">Tech hub</a>
            </li>
            <li>
                <a href="/contacto" class="menu-item">contacto</a>
            </li>
            <li>
                <a href="https://www.linkedin.com/in/soledad-merino/" class="menu-item" target="_blank">linkedin</a>
            </li>
        </ul>
    </nav>
</header>