@font-face {
  font-family: poppins;
  src: url('./assets/fonts/Poppins/Poppins-Light.ttf') format("opentype");
}

@font-face {
  font-family: poppins-black;
  src: url('./assets/fonts/Poppins/Poppins-Black.ttf') format("opentype");
}

/* You can add global styles to this file, and also import other style files */
body {
    margin: 0;
    padding: 0;
    background-color: black;
    font-family: poppins;
    //background: linear-gradient(to right, #28272b, #443c61);
    //background: linear-gradient(to bottom, rgba(68,64,91,255), rgba(51,51,77,255));
    //background: rgb(1, 3, 28);//rgb(33, 33, 33);
    //background-image: url('./assets/images/setup.png');
    
  }

  @media (min-width: 1500px) {
    body {
      overflow: hidden;
    }
  
  }
  
  @media (min-width: 850px) and (max-width: 1499px) {
    body {
      overflow: hidden;
    }
  
  }