@font-face {
  font-family: jetbrains-regular;
  src: url('./assets/fonts/JetBrainsMono/fonts/ttf/JetBrainsMono-Regular.ttf') format("opentype");
}

@font-face {
  font-family: jetbrains-bold;
  src: url('./assets/fonts/JetBrainsMono/fonts/ttf/JetBrainsMono-Bold.ttf') format("opentype");
}

:root {
  --sole-blue: #34365a;
  --sole-light-blue: #67699d;
  --sole-pink: #DCB7CF;
  --sole-dark-pink: #d786bb;
  --sole-white: #F0F0F0;
  }

/* You can add global styles to this file, and also import other style files */
body {
    margin: 0;
    padding: 0;
    background-color: var(--sole-blue);
    font-family: jetbrains-regular;
    
  }

  a { -webkit-tap-highlight-color: rgba(0,0,0,0); }

  @media (min-width: 1500px) {
    body {
      overflow: hidden;
    }
  
  }
  
  @media (min-width: 850px) and (max-width: 1499px) {
    body {
      overflow: hidden;
    }
  
  }